// Place all the styles related to the Pets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap/scss/bootstrap";

.top-margin {
  margin-top: 88px;
}

.pet-details > img {
  right: 70px;
  top: 17px;
}

.pet-header {
  background-color: #e9ecef;
  padding: 3rem;
}

.pet-details {
  margin-top: -40px;
  // border-left: 1px solid rgba(53, 53, 53, 0.406);
  padding: 40px 40px 150px 40px;
  font-size: 1.2rem;
}

.pet-details li {
  margin-bottom: 8px;
}
